.header-2 {
    color: teal;
    font: arial; 
    font-weight: bold;
    font-size: 36pt;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 0.5em;
    width: 50%;
    margin: auto;
  }
.footer {
    color: indigo;
    size: 24pt;
    font-weight: bold;
    font: comic;
}
#paragraph-1 {
    color: grey;
    font:comic;
    font-size: 36pt;
    font-weight:bolder;
}
#paragraph-2 {
    color: rosybrown;
    font: Times;
    font-size: 24pt;
}

#paragraph-3 {
    font: arial;
    size: 36pt;
    color: rgb(117, 50, 205);
}
a:visited {
    color: rgb(224, 157, 224);
  }