.header-1 {
    color:darkslategrey;
    font: Arial;
    font-size: 36pt;
    margin: auto;
}
#paragraph-1 {
    color: rgb(11, 219, 247);
    font:comic;
    font-size: 24pt;
    font-weight: bold;
}
#paragraph-2 {
    color: rgb(39, 236, 194);
    font: comic;
    font-size: 24pt;
    font-weight:bolder;
}

#paragraph-3 {
    color: black;
    font: comic;
    font-size: 16pt;
}

#paragraph-3 {
    font: arial;
    size: 36pt;
    color: rgb(117, 50, 205);
}
.header-2 {
    color:black;
    font: (comic); 
    font-weight: bolder;
    font-size: 36pt;
}

.footer {
    color: indigo;
    size: 24pt;
    font-weight: bold;
    font: comic;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 16px;
}

label {
    padding-right: 16px;
}

#label {
    font: comic;
    size: 16pt;
    font-weight: bold;
}
a:visited {
    color: rgb(224, 157, 224);
  }